body {
	margin: 0;
	padding: 0;
	font-family: arial;
	color: #666;
}
#container{
	width: 100%;
	background-color: #fff;
}
.menu {
	height: 50px;
	float: right;
}
.fundomenu{
	background-color: #000;
	height: 70px;
}
.menu {
	font-size: 15px;
}

.menu li {
	float: right;
	margin-right: 20px;
	line-height: 60px;
}
.menu li {
	list-style: none;  
}

.menu a {
	color: #886A08;
	text-decoration: none; 
}

.menu a:hover {
	color:#ffffff;
	text-decoration: none; 
}

.logo{
	float: left;
	margin-top: 10px;
	margin-left: 20px;
}

.destaque {
	background: url(imagens/destaque.jpg);
	height: 330px;
	font-size: 25px;
	color: #fff;
	text-align: center;
	line-height: 45px;
	padding-top: 15px;
	clear: both;
}

.botaodestaque{
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	text-shadow: 1px 1px 1px rgba (0,0,0,0.5);
	height: 50px;
	width: 120px;
	font-size: 20px;
	background-color:#886A08;
	border-radius: 5px;
	color: #000000;
	margin-top: 30px;
	border-color: #000;
}
.servico {
	background: #f9fafb;
	clear: both;
	text-align: center;
	float: left;
}
.servicodiv{
	margin-top: 40px;
	width: 32%;
	margin-left: 5px;
	
}
.titulo {
	height: 100px;
	line-height: 100px;
	font-size: 26px;
	text-align: center;
	clear: both;
}

.conteudo {
	clear: both;
	background-color: #FFFFFF;
}

.imgConteudo {
	float: left;
	margin: 60px;
	border: 2px solid #000;
}

.rodape {
	background:#000000;
	height: 70px;
	color: #886A08;
	text-align: center;
	line-height: 70px;  
	clear: both;
}

.botaoenviar{
	box-shadow: 2px 2px 2px rgba (0,0,0,0.2);
	text-shadow: 1px 1px 1px rgba (0,0,0,0.5);
	height: 30px;
	width: 70px;
	font-size: 24px;
	background-color:#886A08;
	border: none;
	color: #A4A4A4;
	margin-top: 100px;
	border-color: #000;
}
/*  Início Contato  */
form{
	position: relative;
	width: 750px;
	height: 650px;
	margin: 0px auto;
	margin-left: 400px;
}
form,input,textarea,button{
	font-size: 16px;
	font-family:"https://fonts.googleapis.com/css?family=Ruslan+Display"
}
fieldset{
	border: none;
}
.grupo:before, .grupo:after{
	display: table;
}
.campo{
	margin-bottom: 16px;
}
.campo label{
	margin-bottom: 3px;
	color: #000000;
	display: block;   
}
fieldset.grupo .campo{
	float: left;
	margin-right: 16px;
}
.campo input[type="text"],
.campo input[type="email"],
.campo input[type="tel"],
.campo textarea{
	padding: 3px;
	border: 1px solid #000000;
	box-shadow: 2px 2px 2px rgba (0,0,0,0.2);
	display: block;
}
.campo input:focus{
	background-color:#A4A4A4;
}
.campo label.checkbox{
	color:#000000;
	display: inline-block;
	margin-right: 16px;
}
.botao{
	box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
	text-shadow: 1px 1px 1px rgba (0,0,0,0.5);
	height: 50px;
	width: 120px;
	font-size: 20px;
	background-color:#886A08;
	border-radius: 5px;
	color: #000000;
	margin-top: 30px;
	border-color: #000;
}
.botao:hover{
	background-color: #886A08;
	box-shadow: inset 2px 2px 2px rgba (0,0,0,0.2);
	text-shadow:none;
}
.botao, label, checkbox{
	cursor: pointer;
}
/*  Fim Contato */

/*  Início Dicas */
.dica {
	background: #f9fafb;
	clear: both;
	text-align: center;
	float: left;
}
.dicaComp{
	margin-top: 40px;
	width: 32%;
	margin-left: 5px;
}

/* Fim Dicas */